from typing import Any
from ..core.routing import SocketTopic
from ..core.publisher import BaseSocketPublisher, SocketPublishModel
from ..core.utils.decorators import staticclass


@staticclass
class {class_name}Publisher(BaseSocketPublisher):
    