from typing import Any
from sqlmodel import Field
from ..core.db import DateTimeField, ModelColumnType, SecretStr, SecretStrType, {base_class}


class {class_name}({base_class}, table=True):
    

    def api_response(self) -> dict[str, Any]:
        return {empty_dict}

    def _get_repr_keys(self) -> list[str | tuple[str, str]]:
        return []