# Project
PROJECT_NAME=langboard
PROJECT_SHORT_NAME=lb

# Nginx
NGINX_FRONTEND_EXPOSE_PORT=1000
NGINX_SOCKET_EXPOSE_PORT=1001
NGINX_API_EXPOSE_PORT=1002

# Redis (This will be used for docker-compose)
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_LOG_FILE=/data/redis.log

# Cache (This will be used for local development)
# in-memory, redis
CACHE_TYPE=in-memory
CACHE_URL=
CACHE_PORT=

# Backend
# REPLICAS COUNT must be greater than 0 and 1 is for only single instance
BACKEND_REPLICAS_COUNT=1
BACKEND_PORT=5381
# Logging
# CRITICAL, FATAL, ERROR, WARNING(WARN), INFO, DEBUG, AUTO
TERMINAL_LOGGING_LEVEL=
FILE_LOGGING_LEVEL=
LOGGING_DIR=
# SELECT, INSERT, UPDATE, DELETE (comma separated, Do not conflict MAIN_DATABASE_ROLE and SUB_DATABASE_ROLE)
MAIN_DATABASE_ROLE=
SUB_DATABASE_ROLE=
# Storage
LOCAL_STORAGE_DIR=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION_NAME=
S3_BUCKET_NAME=

# Backend Security
COMMON_SECRET_KEY=
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
# Access Token expiration, seconds (eg: 10800 = 60 * 60 * 3 = 3 hours)
JWT_AT_EXPIRATION=10800
# Refresh Token expiration, days (eg: 30 = 30 days)
JWT_RT_EXPIRATION=30

# Frontend
FRONTEND_PORT=5173
SOCKET_URL=http://localhost:8010
API_URL=http://localhost:8020

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_REPLICATION_USER=
POSTGRES_REPLICATION_PASSWORD=
POSTGRES_DB=
MASTER_POSTGRES_PORT=5432
REPLICA_POSTGRES_PORT=5433

# Bot
QUEUE_BOT_DIR=
LANGFLOW_URL=
LANGFLOW_API_KEY=
OPENAI_API_KEY=