@import 'utils/mixins';

.rt-ToastViewport {
    @include position(fixed, $right: 0, $bottom: 0);
    @include flex($direction: column);
    @include all-padding(var(--viewport-padding));
    @include width($min: 360px, $max: 100vw);
    @include no-margin;
    --viewport-padding: 25px;
    gap: 10px;
    list-style: none;
    z-index: 2147483647;
    outline: none;

    .rt-ToastRoot {
        @include color-with-bg(var(--accent-a11), var(--accent-a3));
        @include round(var(--radius-4));
        @include all-padding(var(--space-4));
        @include flex(space-between, center);
        gap: var(--space-4);

        &[data-state='open'] {
            animation: rt-toast-slide-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
        }

        &[data-state='closed'] {
            animation: rt-fade-out 100ms ease-in;
        }

        &[data-swipe='move'] {
            transform: translateX(var(--radix-toast-swipe-move-x));
        }

        &[data-swipe='cancel'] {
            transform: translateX(0);
            transition: transform 200ms ease-out;
        }

        &[data-swipe='end'] {
            animation: rt-toast-slide-out 100ms ease-out;
        }

        .rt-ToastIcon {
            grid-area: icon;
            @include flex($align: center);
            gap: 0px;
        }

        .rt-ToastTitle {
            @include font(var(--font-size-1), var(--accent-a11), var(--font-weight-bold));
            @include flex($align: center);
            gap: 5px;
        }

        .rt-ToastDescription {
            @include font(var(--font-size-1), var(--accent-a11), $line: var(--line-height-1));
            grid-area: description;
            margin: 0;
        }
    }
}
